<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="4189ShvydkyiVolodymyr.PlayUA.mini" Publisher="CN=E03C543D-0D43-4159-B2DB-0452597D5EB7" Version="1.0.1.0" />
  <mp:PhoneIdentity PhoneProductId="4b866ba0-b14f-4b96-aa52-c5e520a52880" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>PlayUA.mini</DisplayName>
    <PublisherDisplayName>Shvydkyi Volodymyr</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PlayUA.mini.App">
      <m3:VisualElements DisplayName="PlayUA.mini" Square150x150Logo="Assets\PlayUALogo360x360.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="PlayUA — українське інтелектуально-розважальне мультимедійне інтернет-видання. Інтернет-портал присвячений відеоіграм зокрема та ігровим технологіям загалом. Перший національний ігровий портал, який масово впроваджує українську мову у ґеймерський медіапростір." ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>